table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .filter-btn{
    
    display: flex;
    gap: 10px;
    i{
        font-size: 70px;
    }
    margin-bottom: 50px;
  }